@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  font-family: 'Montserrat', sans-serif; }

body {
  margin: 0 auto;
  background: url("../../Resources/images/blur-bright-close-up-1405773.jpg") no-repeat fixed 100%;
  cursor: url("../../Resources/images/cursor.png"), auto; }

p {
  font-size: 0.98rem; }

#load-posts-button {
  min-height: 100vh;
  padding-top: calc(50vh - 20px);
  padding-left: calc(50vw - 115px);
  position: absolute; }

.button {
  display: block;
  cursor: pointer;
  height: 40px;
  width: 230px;
  text-align: center;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.58);
  border: 2px solid #000;
  color: #000;
  transition: all 0.25s ease; }
  .button .button-text {
    float: left;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 0 8px 10px; }
  .button .button-text-black {
    padding-right: 0 !important; }
  .button .ellipsis {
    margin-top: 6px;
    float: right;
    fill: #000 !important;
    margin-right: 10px; }
  .button:hover {
    color: white;
    background: #000; }
  .button:hover #download-icon {
    fill: white !important; }
  .button svg {
    margin-top: 6px;
    float: right;
    fill: #000 !important;
    margin-right: 10px; }

.button-black {
  color: #ffffff !important;
  background: #000 !important; }

.loader {
  min-height: 100vh;
  padding-top: calc(64vh - 20px);
  padding-left: calc(50vw - 40px);
  position: absolute;
  display: none; }

.dots {
  height: 20px;
  width: 50px;
  background: rgba(0, 0, 0, 0);
  position: absolute; }

.dots, .dot {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; }

.dots1 {
  margin-left: 0; }

.dots2 {
  margin-left: 30px; }

.dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #e8cc00;
  position: absolute; }

.dot-a {
  left: 0px; }

.dot-b {
  right: 0px; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(180deg); } }
@keyframes onOff {
  0% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }
.dots1 {
  animation-name: spin; }

.dots2 {
  animation-name: spin;
  animation-direction: reverse; }

.dots2 .dot-b {
  animation-name: onOff; }

.dots1 .dot-a {
  opacity: 0;
  animation-name: onOff;
  animation-direction: reverse; }

.post {
  margin: 32px;
  background-color: rgba(255, 255, 255, 0.92);
  border: 1px solid #e8e8e8;
  border-left: 4px solid #e8cc00 !important; }
  .post .post-content {
    margin: 36px; }
    .post .post-content .post-date {
      color: #969696; }
    .post .post-content .post-text {
      margin-bottom: 30px; }

.post-0 {
  margin-top: 14vh; }

.post-9 {
  margin-bottom: 14vh; }

.post-content a {
  color: rgba(0, 0, 0, 0.2);
  text-shadow: none;
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 900;
  font-size: 0.9rem; }
  .post-content a:hover {
    text-decoration: none;
    color: red; }
  .post-content a::before {
    color: #000000;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s; }
  .post-content a:hover::before, .post-content a:focus::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.3; }

@media only screen and (max-width: 600px) {
  h4 {
    font-size: 1.2rem !important; }

  p {
    font-size: 0.8rem !important; } }
@media only screen and (max-width: 450px) {
  body {
    background: #efefef !important; } }

/*# sourceMappingURL=styles.css.map */
